@mixin flex($direction, $justify, $aling){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
}

.container{
    max-width: 1200px;
    margin: o auto;
    margin-top: 2rem;
}