header {
  @include flex(center,space-around,center);
    
    padding: 2rem 0;
    border-bottom: 2px;
    background-color: rgba(215, 173, 209, 0.59);
    font-size: $mascchico;
    color: $primario;
    
    a{
        color:map-get($colores, primario);
    }
        
  }
  
  .header__imgLogo {
    max-width: 200px;
    border-radius: 100px;
  }
  .titulo__pagina{
    color:map-get($colores, primario);
    font-size: $muygrande;  
    text-decoration:underline;  
  }
  .colorTextoNavBar{
    color:aliceblue
  }