main{
    p{
        font-size: $mediano;
    }
    h2{
        font-size: $grande;
    }
   
}

.card2{
    display: flex;
    justify-content: center;
    flex-direction: center;
    gap: 5px;
    
}