/* colores texto */
$primario: black;
$secundario: blue;
$precios: red;



/* tamaño letra */
$muygrande: 4em;
$grande: 3.2em;
$mediano: 2.2em;
$chico: 1.6em;
$mascchico: 1.4em;

/* espaciado*/
$espacio-largo: 6rem;
$espacio-medio: 2.4rem;
$espacio-chico: 2rem;
$espacio-maschico: 1rem;

/* map */
$colores:(
    primario: black,
    secundario: blue,
    precios: red
    )