/* colores texto */
$primario: black;
$secundario: blue;
$precios: red;

/* tamaño letra */
$grande: 5.2en;
$mediano: 2.2em;
$chico: 1.6em;
$mascchico: 1.4em;

/* espaciado*/
$espacio-largo: 6rem;
$espacio-medio: 2.4rem;
$espacio-chico: 2rem;
$espacio-maschico: 1rem;